@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100vh;
  width: 100%;
}

.app {
  min-height: 100vh;
  background-color: #1a0031;
  background-image: url(/static/bg-tile.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  display: inline-block;
  text-align: center;
  align-self: center;
  vertical-align: middle;
  justify-content: center;
}

.nft__button {
  margin: auto;
  position: relative;
  background: #33c8a1;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  color: #fff;
  font-family: "Press Start 2p", cursive;
  line-height: 1;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: all 0.25s;
  padding: 10px 12px;
  box-shadow: 7px 7px 0 #26957c, 6px 6px 0 #26957c, 5px 5px 0 #26957c,
    4px 4px 0 #26957c, 3px 3px 0 #26957c, 2px 2px 0 #26957c, 1px 1px 0 #26957c;
}
